.contato-principal{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form p {
    margin-bottom: 10px;
}

form label, form legend{
    display: block;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin-top: 20px;
}

.enviar {
    margin-top: 10px;
    width: 40%;
    padding: 15px 0;
    background: orange;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: white;
    transition: .5s;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
}

table {
    margin: 10px 0 20px;
}

thead {
    background: #555555;
    font-weight: bold;
    color: white;
}

td, th {
    border: 1px solid #000000;
    width: 100px;
    padding: 5px;
}

